/* 
	Please leave the content below alone for this week's tutorial
*/
@font-face {
	font-family: 'Apercu';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/Apercu.eot');
	src: url('../fonts/Apercu.eot?#iefix') format('embedded-opentype'), 
		 url('../fonts/Quan.woff2') format('woff2'), 
		 url('../fonts/Apercu.woff') format('woff'),
		 url('../fonts/Apercu.ttf') format('truetype');
}

@font-face {
	font-family: 'Freight-Text-Book';
	font-weight: bold;
	font-style: normal;
	src: url('../fonts/Freight-Text-Book.eot');
	src: url('../fonts/Freight-Text-Book.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Quan-Bold.woff2') format('woff2'),
		 url('../fonts/Freight-Text-Book.woff') format('woff'),
		 url('../fonts/Freight-Text-Book.ttf') format('truetype');
}
