/* 
	Please leave the content below alone for this week's tutorial
*/
@font-face {
	font-family: 'Apercu';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/Apercu.eot');
	src: url('../fonts/Apercu.eot?#iefix') format('embedded-opentype'), 
		 url('../fonts/Apercu.woff') format('woff'),
		 url('../fonts/Apercu.ttf') format('truetype');
}

@font-face {
	font-family: 'Apercu-light';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/Apercu-light.eot');
	src: url('../fonts/Apercu-light.eot?#iefix') format('embedded-opentype'), 
		 url('../fonts/Apercu-light.woff') format('woff'),
		 url('../fonts/Apercu-light.ttf') format('truetype');
}

@font-face {
	font-family: 'Freight-Text-Book';
	font-weight: bold;
	font-style: normal;
	src: url('../fonts/Freight-Text-Book.eot');
	src: url('../fonts/Freight-Text-Book.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Freight-Text-Book.woff') format('woff'),
		 url('../fonts/Freight-Text-Book.ttf') format('truetype');
}

@font-face {
	font-family: 'Freight-Text-Bold';
	font-weight: bold;
	font-style: normal;
	src: url('../fonts/Freight-Text-Bold.eot');
	src: url('../fonts/Freight-Text-Bold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Freight-Text-Bold.woff') format('woff'),
		 url('../fonts/Freight-Text-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Arizonia';
	font-weight: regular;
	font-style: normal;
	src: url('../fonts/Arizonia.ttf');
}
