/*
	specifying that all objects use
	the border-box model (not the content-box model)
*/
*, *::after, *::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


/*
	specifying if the class of an item starts with
	'grid-col-', then we should apply the styling listed
*/
[class^='grid-col-'] {
	padding: 0; 
	margin: 0;
}


/*
	Here we are clearing floated items to ensure that
	our 'grid'  structure can have different rows
*/
.grid-row:after {
	content: "";
	display: block;
	clear: both;
}



/*
	grid for the top nav
*/
.grid-col-1of5 > .button-nav {
	float: right;
}

.grid-col-1of5 > .logo {
	float: left;
}

/*
	grid for main content
*/
.grid-col-4of12{
	width: 33.333%;
	float: left;
}

.grid-col-6of12{
	width: 50%;
	float: left;
}

.grid-col-8of12{
	width: 66.666%;
	float: left;
}

.grid-col-12of12{
	width: 100%;
	float: left;
}

/*
	grid for calender
*/

.grid-col-1of7{
	width: 14.2857%;
	float: left;
}

