/*
	specifying that all objects use
	the border-box model (not the content-box model)
*/
*, *::after, *::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


/*
	specifying if the class of an item starts with
	'grid-col-', then we should apply the styling listed
*/
[class^='grid-col-'] {
	padding: 0; 
	margin: 0;
}


/*
	Here we are clearing floated items to ensure that
	our 'grid'  structure can have different rows
*/
.grid-row:after {
	content: "";
	display: block;
	clear: both;
}



/*
	grid for the top nav
*/
.grid-col-1of5 > .button-nav {
	float: right;
}

/* grid for social media footr nav */
.grid-col-1of5 > .media-nav {
	float: right;
}

/* grid for social media footr nav */
.grid-col-1of4 > .media-nav {
	float: right;
}

.grid-col-1of5 > .logo {
	float: left;
}

/*
	grid for main content
*/
.grid-col-3of12{
	width: 25%;
	float: left;
}

.grid-col-4of12{
	width: 33.33333333333%;
	float: left;
}

.grid-col-5of12 {
	width: 38%;
	float: left;
}

.grid-col-6of12{
	width: 50%;
	float: left;
}

.grid-col-8of12{
	width: 66.666%;
	float: left;
}

.grid-col-12of12{
	width: 100%;
	float: left;
}

/*
	grid for mobile nav
*/

.grid-col-1of4{
	width: 25%;
	float: left;
}

/*
	grid for calender
*/

.grid-col-1of7{
	width: 13.6%;
	float: left;
}

@media (max-width: 65em) {

.all-categories .grid-col-4of12 {
	width: 50%;
}

.pk-features-info .grid-col-6of12 {
  padding: .5em 2em;
}

}


@media (max-width: 57em) {
  
.content-grid {
  top: 45%;
}


#header-main .section-label {
	top: 18%;
}

#header-main h1 {
	padding-left: .5em;
	padding-right: .5em;
	top: 18%;
}

#header-main .no-desc {
	top: 22%;
}

#header-main p {
	top: 28%;
	font-size: 1em;
	padding-left: 5em;
	padding-right: 5em;
}

#header-main .pk-desc {
	top: 32%;
}

.description-nav{
    font-size: 0.7em;
}

.page-title {
	top: 20%;
}


.page-description {
	top: 32%;
}

.grid-col-4of12{
	width: 50%;
	float: left;
}

.grid-col-5of12 {
	width: 30%;
}

.grid-col-6of12 {
	width: 100%;
}

.grid-col-8of12{
	width: 50%;
	float: left;
}

.checkout-package-info {
 	margin-left: 0;
 	margin-right: auto;
 	padding: 0.2em 3em;
}

.checkout-forms {
	width: 100%;
	padding: 0.2em 3em;
	margin-left: 0;
}

.review-buttons {
  display: block;
  width: 100%;
  margin-top: 7em;
  margin-left: 0;
  padding: 0.2em 3em;
}

.package-detail-info {
  top: 3em;
  width: 90%;
  padding: 0.2em 2em;
}

.price-box {
	top: 1.5em;
}

}

@media (max-width: 44em) {

.all-categories .grid-col-4of12 {
	width: 100%;
}

.package-menu-item1 {
	height: 35em;
}

}

@media (max-width: 52em) {

.grid-col-8of12{
	width: 100%;
	float: left;
}

}

@media (max-width: 38em) {

.long-title {
	margin-top: 5em;
}


}


@media (max-width: 36em) {
  
.content-grid {
  top: 36%;
}

#header-main {
	background: white;
}

#header-main .section-label {
	color: #4B4F56;
	top: 10%;
}

#header-main img{
	display: none;
}

#header-main h1 {
	top: 11%;
	margin-bottom: 1em;
}

#header-main .no-desc {
	top: 16%;
}

#header-main p {
	top: 20%;
	color: black;
	font-size: 0.8em;
	padding-top: .5em;
	padding-left: 1.5em;
	padding-right: 1.5em;
}

#header-main .pk-desc {
	top: 25%;
}

.page-title {
	color: #4B4F56;
	font-size: 1.6rem;
}

.page-description {
	display: none;
}

.all-categories {
  position: relative;
  margin: 1em 1em;
}

.product-div {
	margin-top: 0;
}


.date-title h1 {
	font-size: 1.8rem;
}

.grid-col-3of12{
	width: 100%;
	float: left;
}

.grid-col-4of12{
	width: 100%;
	float: left;
}

.grid-col-5of12 {
	width: 100%;
}

.grid-col-6of12{
	width: 100%;
	float: left;
}

.grid-col-12of12{
	width: 100%;
	float: left;
}

.long-title {
	margin-top: 3em;
}


.pk-features-info {
  position: relative;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  padding: 1em 2em 0em 2em;
}


.pk-features-info .grid-col-6of12 {
  padding: .5em 1em;
}

.price-box .price{
  display: inline-block;
  font-size: 1.1em;
  padding: .5em 1em .5em 0;
  margin-top: .5em;
}

.price-box .textlink{
  display: inline-block;
  font-size: 1.1em;
  padding: .5em 0 .5em 1em;
  margin-top: 1em;
  border-left: 1px solid #f1f2f2;
}

.package-detail-info {
  position: relative;
  display: block;
  left: 0%;
  width: 90%;
  padding: 0.2em 2em;
}

.package-detail-info h1 {
  font-size: 2em;
}

.thanks-info {
	width: 90%;
}

.testimonial img{
	display: none;
}

.testimonial p{
	padding-left: 6em;
	padding-right: 6em;
}
}

/*nav breakpoint*/
@media (max-width: 34em) {
	.logo {
		display: none;
	}

	.button-nav {
		display: none;
	}



	.icon-nav {
		display: inline-block;
	}
}

/*Calender breakpoints RIP*/

@media (max-width: 71em) {

.cal-month {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}

.cal-month {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}

.cal-buttons {
	width: 75%;
}

.weekdays {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}

.day-cell {
	padding: .3em .5em;
}

.day-cell-unavailable{
	padding: .3em .5em;
}

.filler-cell {
	padding: .3em .5em;
}

}

@media (max-width: 62em) {

.cal-month {
	width: 100%;
	margin-right: 2%;
	margin-left: 2%;
}

.weekdays {
	top: 6em;
	width: 100%;
}

.cal-buttons {
	width: 100%;
	margin-right: 2%;
	margin-left: 2%;
}

.grid-col-1of7 {
	width: 13%;
}

.day-cell {
	font-size: 1.5rem;
}

.day-cell-unavailable{
	font-size: 1.5rem;
}

.filler-cell {
	font-size: 1.5rem;
}

}

@media (max-width: 33em) {

.cal-month {
	width: 100%;
	margin-right: 1%;
	margin-left: 1%;
}

.cal-month li {
  display: inline-block;
  position: relative;
  margin: 0.115em 0.115em 0.115em 0.115em;
  padding: 0;
  text-align: center;
}

.weekdays {
	top: 10em;
	font-size: .5rem;
}

.weekdays li {
  display: inline-block;
  position: relative;
  margin: 0.1em 0.1em 0.1em 0.1em;
  padding: 0;
  text-align: center;
}

.cal-buttons {
	width: 100%;
	margin-right: 1%;
	margin-left: 1%;
}


.day-cell {
	font-size: 1rem;
	padding: 1em 0em;
}

.day-cell-unavailable{
	font-size: 1rem;
	padding: 1em 0em;
}

.filler-cell {
	font-size: 1rem;
	padding: 1em 0em;
}

}




