/* 
	Please leave the content below alone for this week's tutorial
*/
body {
	font-family: "Apercu", Arial, sans-serif;
	margin: 1rem;
	font-size: 0.95rem;
}

nav{
	border-bottom: 0.15em solid #333;
}

section {
	margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 0.05em solid #999;
}

h1 {
	font-family: "Apercu", Verdana, sans-serif;
	font-size: 2rem;
	line-height: 2.65rem; 
	margin-bottom: 0;
}

h2 {
	font-family: "Apercu", Verdana, sans-serif;
	font-size: 1.5rem;
	margin-bottom: 0;
	width: 100%;

	margin-bottom: 1em;
}

h3 {
	display: block;
	font-family: "Apercu", Verdana, sans-serif;
	font-size: 0.80rem;
	text-transform: uppercase;
	margin-top: 0.75rem;
	margin-bottom: 0.5em;
}

h4 {
	font-family: "Apercu", Verdana, sans-serif;
	font-size: 1.3rem;
	margin-top: 0.75rem;
	margin-bottom: 0.5em;
}


p, ol, ul {
	display: block;
	font-family: "Freight-Text-Book", Verdana, sans-serif;
	color: #A8A7A7;
	font-size: 1.05rem;
	line-height: 1.3rem;
	max-width: 60rem;
}

ol, ul {
	line-height: 1.15rem;
}

li {
	display: list-item;
	text-align: -webkit-match-parent;
}

img {
	height: auto; 
	max-width: 100%; 
	margin-bottom: 4rem;
}

figure {
	margin: 0;
}

figcaption {
	font-style: italic;
}

a {
	color: rgb(100,185,197);
	transition: color 0.5s;
}

a:active, a:hover, a:focus {
	color: rgb(0,0,0); 
	text-decoration: none;
}

code, samp {
	display: block;
	background-color: rgb(230,230,230);
	padding: 0.5rem;
}

form {
	display: inline-block;
	padding: 1.15em;
	font-size: 0.85em;
}

label {
	display: block;
	cursor: default;
	margin-bottom: 0.15em;
}

input {
	display: inline-block;
    width: 240px;
    height: 30px;
    color: #000;
    margin-bottom: .75em;
    padding-left: 0.5em;
}

.nav-list {
    list-style: none;
}

.nav-main-item {
	
	display: inline-block;
	color: #A4B6A6;
	font-family: "Apercu", Verdana, sans-serif;

	background-color: white;
	font-size: 1rem;
	line-height: 0.75rem;
	padding: 0.25rem 0.5rem;
	text-decoration: none;
	transition: background-color 0.5s ease-out;
}

.nav-main-item:active, .nav-main-item:hover, .nav-main-item:focus {
	color: #ED834E;
	text-decoration: underline;
}

.dark-text-colour {
    display: inline-block;
    margin: 0em;
    padding: 35px 05px;
    color: white;
    text-align: center;
    width: 200px;
    height: 200px;
    background-color: #4B4F56;
}

.dark-text-colour p{
    color: white;
}

.light-text-colour {
    display: inline-block;
    margin: 0em;
    padding: 35px 05px;
    color: white;
    text-align: center;
    width: 200px;
    height: 200px;
    background-color: #A8A7A7;
}

.light-text-colour p{
    color: white;
}

.orange {
    display: inline-block;
    margin: 0em;
    padding: 35px 05px;
    color: white;
    text-align: center;
    width: 200px;
    height: 200px;
    background-color: #ED834E;
}

.orange p{
    color: white;
}

.green {
    display: inline-block;
    margin: 0em;
    padding: 35px 05px;
    color: white;
    text-align: center;
    width: 200px;
    height: 200px;
    background-color: #A4B6A6;
}

.green p{
    color: white;
}


.button-nav {

    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    color: #4B4F56;
    letter-spacing: 0.08em;
    text-decoration: none;
   	font-weight: bold;


    text-transform: uppercase;

    padding: 0.1em;
    margin: 1.1em;

}

.button-nav:active, .button-nav:hover, .button-nav:focus {
	transition: background-color 0.4s, color 0.4s ease-out;

	color: #ED834E;
	text-decoration: none;

	text-decoration-line: 

	border-bottom-color: #ED834E;
  	border-bottom-style:solid;
  	border-bottom-width:3px 
}


.textlink {
	color: #A4B6A6;
	letter-spacing: 0.05em;
	text-decoration: none;
}

.textlink:active, .textlink:hover, .textlink:focus {
	color: #ED834E;
	text-decoration: underline;
}

.button {
	display: inline-block;
    padding: 1em 1.25em;
    margin-top: 1.5em;
    color: #FFFFFF;
    background-color: #4B4F56;
    font-size: 0.8em;
    letter-spacing: 0.15em;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

.button:active, .button:hover, .button:focus {
	transition: background-color 0.4s, color 0.4s ease-out;
    background-color: #ED834E;
    color: #FFFFFF;
}

.listing {
	max-width: 50%;
	background: #FFFFFF;
	padding: 1rem;
}

ul.img-list {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

ul.img-list li {
    display: inline-block;
    list-style-type: none;
    margin: 0 1em 1em 0;
    position: relative;
    width: 45%;
}

ul.img-list li:hover span.image-text {
    opacity: 1;
}

.box-item-article:hover span.image-text {
    opacity: 1;
}

<<<<<<< Updated upstream


=======
>>>>>>> Stashed changes
span.image-text {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 90px;
  width: 140px;
  left: 0;
  position: absolute;
  top: 0;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s;
}

span.image-text span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.box-item-article:hover, span.image-text {
  opacity: 1;
}


ul.img-list {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

<<<<<<< Updated upstream
ul.img-list li {
  display: inline-block;
  height: 15em;
  margin: 0 1em 1em 0;
  position: relative;
  width: 15em;
}

span.image-text {
  background: rgba(0, 0, 0, 0.6);
  font-family: "Apercu", Verdana, sans-serif;
  color: white;
  cursor: pointer;
  display: table;
  height: 10em;
  left: 0;
  position: absolute;
  top: 0;
  width: 15em;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s;
=======

.listing-img {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0;
}

.listing-heading {
    max-width: 100%;
    text-align: center;
    margin-top: 0.05rem;
    margin-bottom: 3em;
}

.price {
    font-family: "Apercu", Verdana, sans-serif;
    font-size: 1.65rem;
    font-weight: bold; 
    color: #4B4F56;
    padding-top: 1em;
    padding-bottom: 0;
}

.footnote {
    font-size: 0.95rem;
    line-height: 0.05rem;
    margin-top: 0;
    padding-top: 0;
>>>>>>> Stashed changes
}

ul.img-list li:hover span.image-text {
  opacity: 1;
}

span.image-text span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

